{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MR Vegetable - Order Success</title>
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
    <!-- <link rel="stylesheet" href="../static/css/success.css"> -->
</head>
<body class="center-screen">
    <div class="box">
        <!-- <div class="text"> -->
        <div class="word">
            <h3>Order has been sent Successfully</h3> 
        </div>
    </div>
</body>
</html>
